In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [14]:
#Create file path and load data files 
ad_data = "../Data/NFL_ad_spend.csv"
ad_data_df = pd.read_csv(ad_data)

ad_data_df.head(17)

,uper Bowl,Season,Date,Network,Rating,Share,Second Spot,Viewers
0,LII,2017,Feb 4 2018,NBC,43.1,68,"$5,200,000","103,400,000"
1,LI,2016,Feb 5 2017,FOX,45.3,70,"$5,000,000","111,300,000"
2,L,2015,Feb 7 2016,CBS,46.6,72,"$4,500,000","111,900,000"
3,XLIX,2014,Feb 1 2015,NBC,47.5,71,"$4,250,000","114,442,000"
4,XLVIII,2013,Feb 2 2014,FOX,46.7,69,"$4,000,000","111,500,000"
5,XLVII,2012,Feb 3 2013,CBS,48.1,71,"$3,800,000","108,700,000"
6,XLVI,2011,Feb 5 2012,NBC,47.8,71,"$3,500,000","111,346,000"
7,XLV,2010,Feb 6 2011,FOX,47.9,68,"$3,100,000","111,010,000"
8,XLIV,2009,Feb 7 2010,CBS,45.0,66,"$2,954,010","106,476,000"
9,XLIII,2008,Feb 1 2009,FOX,42.0,64,"$2,999,960","98,732,000"
10,XLII,2007,Feb 3 2008,FOX,43.1,65,"$2,699,963","97,448,000"
11,XLI,2006,Feb 4 2007,CBS,42.6,64,"$2,385,365","93,184,000"
12,XL,2005,Feb 5 2006,ABC,41.6,62,"$2,500,000","90,745,000"
13,XXXIX,2004,Feb 6 2005,FOX,41.1,62,"$2,400,000","86,072,000"
14,XXXVIII,2003,Feb 1 2004,CBS,41.4,63,"$2,302,200","89,795,000"
15,XXXVII,2002,Jan 26 2003,ABC,40.7,61,"$2,200,000","88,637,000"
16,XXXVI,2001,Feb 3 2002,FOX,40.4,61,"$2,200,000","86,801,000"

In [15]:
#Remove unneeded columns in order to clean the data